@using Blog.Models.DBModel
@model List<Articles>
<h2>我的相册</h2>
<ul>
    @foreach (var item in Model)
    {
        if (item.ShowType == "相册")
        {
            <li><a href="~/Share/Detail/@item.Id"><img src="/Assets/@item.MainPicUrl" /></a></li>
        }
        @*else
            {
                <li><a href="~/Home/Detail/@item.Id"><img src="/Assets/@item.MainPicUrl" /></a></li>
            }*@
    }
</ul>